<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.min.css" />
    <link rel="stylesheet" href="/css/main.css">
    <title>New Idea</title>
</head>
<body>
    <nav class="topNav">
        <a href="/ideas">Back to Main Ideas Page</a>
    </nav>
    <h1>Edit Idea Page</h1>
    <form action="/ideas/<%=idea.id%>?_method=PUT" method="POST" class="newIdea">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value="<%=idea.title%>" />
        <label for="description">Description</label>
        <textarea name="description" id="description" ><%=idea.description%></textarea>
        <label for="image">Image URL</label>
        <input type="text" name="image" id="image" value="<%=idea.image%>"/>
        <div class="numContainer">
            <div>
                <label for="price">Price</label>
                <input type="number" name="price" id="price" value="<%=idea.price%>" />
            </div>
            <div>
                <label for="qty">Quantity</label>
                <input type="number" name="qty" id="qty" value="<%=idea.qty%>"/>
            </div>
        </div>
        
        <input type="submit" value="Submit Edited Idea" />
    </form>
</body>
</html>