<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Marketplace of Ideas</title>
</head>
<body>
    <main>
        <nav class="topNav">
            <a href="/ideas/new">Add a New Idea</a>
        </nav>
        <h1>The Marketplace of Ideas</h1>
        <ul>
            <% ideas.forEach(function(idea){ %>
                <li>
                    <a href="/ideas/<%=idea.id%>">
                        <img class="indexPic" src="<%=idea.image%>" alt="<%=idea.title%>">
                        <%=idea.title%>
                    </a><br />
                    <div class="controls">
                        <a href="/ideas/<%=idea.id%>/edit">Edit</a>
                    <form action="/ideas/<%=idea.id%>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE">
                    </form>
                    </div>
                    
                </li>
            <%});%>
        </ul>
    </main>
</body>
</html>